<h1 class="header">
  All Artists
</h1>
<mat-divider></mat-divider>

  <ng-container  *ngFor="let artist of this.store.artists">
    <h2 style="margin-left: 30px" class="artist-slot">{{artist.name}}</h2>
    <mat-list style="margin-left:30px;">

      <mat-expansion-panel class="album-slot" style="margin-right: 30px; margin-bottom: 30px" *ngFor="let album of artist.albums">
        <mat-expansion-panel-header>
          <mat-list-item color="white" class="album-title">
            <mat-icon color="white" mat-list-icon >album</mat-icon>
            <h4 style="margin-left: 10px">{{ album.title }}</h4>
          </mat-list-item>
        </mat-expansion-panel-header>
        <h3>Tracklist</h3>
        <mat-divider></mat-divider>

        <mat-action-list>
          <mat-list-item class="song-slot" *ngFor="let song of album.songs; let i = index" (click)="sendSong(song)">

            <mat-icon mat-list-icon *ngIf="!songIsSaved(song)" (click)="toggleSavedSong(song, $event)" color="white">star_border</mat-icon>
            <mat-icon mat-list-icon *ngIf="songIsSaved(song)" (click)="toggleSavedSong(song, $event)" color="white">star_filled</mat-icon>

            <mat-icon mat-list-icon #songMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="songMenu" (click)="openSongMenu($event)" color="white">list</mat-icon>

            <h4 mat-line>{{ song.displayName }}</h4>
            <h5 mat-line>{{ song.artistName }}</h5>

            <mat-icon color="white"  *ngIf="this.playerIndex === this.store.storePlaylist.indexOf(song) && !this.player.state?.error">play_circle_filled</mat-icon>
            <h6 *ngIf="this.playerIndex === this.store.storePlaylist.indexOf(song) && this.player.state?.error">ERROR</h6>

            <mat-menu #songMenu="matMenu" overlapTrigger="false">
              <button #playlistMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="playlistMenu" (mouseover)="openPlaylistMenu($event)" mat-menu-item>
                <mat-icon color="white">playlist_add</mat-icon>
                Add To Playlist...
              </button>
              <mat-menu #playlistMenu="matMenu" overlapTrigger="false">
                        <span (mouseleave)="closePlaylistMenu($event)">
                          <div *ngIf="this.user.playlists.length > 0">
                            <button *ngFor="let playlist of this.user.playlists" mat-menu-item (click)="this.user.addSongToPlaylist(playlist.title, song)"><mat-icon color="white">queue_music</mat-icon>{{playlist.title}}</button>
                          </div>
                          <div *ngIf="this.user.playlists.length === 0">
                            <button mat-menu-item (click)="navigateToPlaylistPage()">Create New Playlist...</button>
                          </div>
                        </span>
              </mat-menu>
            </mat-menu>
          </mat-list-item>
        </mat-action-list>

      </mat-expansion-panel>
    </mat-list>
  </ng-container>

<h1 class="logo">
  <mat-icon>terrain</mat-icon>
  L I O N
</h1>

