
.header {
  margin-left: 30px;
  color: white;
}

.artist-slot{
  color: white;
}

.album-slot {
  background-color: rgb(0,0,0,0.5);
  color: white;
}

.song-slot {
  color: white;
}

.album-title {
  color: white;
}

.logo {
  mat-icon {
    padding-top: 10px;
    height: 48px !important;
    width: 36px !important;
    font-size: 36px !important;
  }
  margin-left: 30px;
  font-family: Futura;
  font-weight: lighter;
  color: white;
}
