<h2 mat-dialog-title>Change Your Email Address</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Current Password</mat-label>
    <input type="password" [(ngModel)]="currentPW" matInput>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>New Email</mat-label>
    <input type="email" [(ngModel)]="newEmail" matInput>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="[currentPW, newEmail]">Change</button>
</mat-dialog-actions>
