body {
    margin: auto;
    padding: 0;
    height: 100%;
    //font-family: candara;
    background-image: url(../../../assets/images/audio-e-guitars-guitars-music-6966-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    //color: rgb(126, 126, 126);
    color: rgb(248, 248, 248);
}

.account-box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    //border: 3px solid #f1f1f1;
    border: 3px solid rgb(46, 47, 66);
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 10px;
    //color: black;
}

.account-box > h4 > a:link, .account-box >  h4 > a:visited {
  color: white;
  text-decoration: none;
}

.account-box > h4 > a:link:hover, .account-box >  h4 > a:visited:hover {
  color: rgb(46, 47, 66);
  font-weight: bold;
}

.textbox {
  margin: auto auto;
  font-size: 14px;
}

.label {
  font-size: 18px;
  font-family: Futura;
  font-weight: bolder;
}

.font {
  font-family: Futura;
  font-weight: lighter;
}

.btn {
  width: 100%;
  background: rgb(46, 47, 66);
  border: 0.5px solid rgb(248, 248, 248);
  //color: rgb(138, 137, 137);
  color: rgb(248, 248, 248);
  padding: 5px;
  font-family: Futura;
  font-weight: lighter;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  border-radius: 24px;
}

.btn:hover {
    background: rgba(46, 47, 66, 0.8);
    font-weight: bold;
}
