<body class="base">
    <div class="account-box">
      <h2 class="font">WELCOME</h2>
        <h1>CREATE YOUR ACCOUNT</h1>
        <hr>
        <br>
        <div class="textbox">
            <input class="label" (input)="username =$event.target.value" type="text" placeholder="Username" name="" value="">
        </div>
        <br>
        <div class="textbox">
            <input class="label" (input)="firstNameText =$event.target.value" type="text" placeholder="First Name" name="" value="">
        </div>
        <br>
        <div class="textbox">
            <input class="label" (input)="lastNameText =$event.target.value" type="text" placeholder="Last Name" name="" value="">
        </div>
        <br>
        <div class="textbox">
            <input class="label" (input)="email =$event.target.value" type="text" placeholder="Email" name="" value="">
        </div>
        <br>
        <div class="textbox">
            <input class="label" (input)="addressText =$event.target.value" type="text" placeholder="Address" name="" value="">
        </div>
        <br>
        <div class="textbox">
            <input class="label" (input)="stateText =$event.target.value" type="text" placeholder="State" name="" value="">
        </div>
        <br>
        <div class="textbox">
            <input class="label" (input)="zipText =$event.target.value" type="text" placeholder="ZIP" name="" value="">
        </div>
        <br>
        <div class="textbox">
            <input class="label" (input)="password =$event.target.value" type="password" placeholder="Password" name="pass1" value="">
        </div>
        <br>
        <div class="textbox">
            <input class="label" (input)="confirmationText =$event.target.value" type="password" placeholder="Confirm Password" name="pass2" value="" >
        </div>
        <br>
        <input class="btn" type="button" name="" value="CREATE" (click)="submit()" Submit>
        <input class="btn" type="button" name="" value="CANCEL" [routerLink]="['']">
        <hr>
        <h4>Already have an account?<a mat-button routerLink="/login">Login here.</a></h4>
    </div>
</body>

