.header {
  margin-left: 30px;
  color: white;
}

.title {
  margin-left: 30px;
  color: white;
}

.par {
  font-size: 18px;
  margin-left: 30px;
  color: white;
}

.grid {
  margin-right: 30px;
  margin-left: 30px;
}

.song-card {
  //background-color: rgb(46, 47, 66);
  background-color: rgb(0,0,0,0.5);
}

.listen {
  mat-icon {
    padding-top: 10px;
    height: 48px !important;
    width: 48px !important;
    font-size: 36px !important;
  }
  font-size: 28px;
  margin-left: 30px;
  color: white;
}
mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.logo {
  mat-icon {
    padding-top: 10px;
    height: 48px !important;
    width: 36px !important;
    font-size: 36px !important;
  }
  margin-left: 30px;
  font-family: Futura;
  font-weight: lighter;
  color: white;
}

