<h1 class="header">
  Welcome to Lion!
</h1>
<mat-divider></mat-divider>

<ng-container *ngIf="this.user.hasRecPlaylist">
  <h2 class="title">
    Your Latest Recommendations
  </h2>
  <mat-grid-list class="grid" [cols]="2" rowHeight="3:1" [gutterSize]="30">
    <ng-container *ngFor="let song of this.user.recommendedPlaylist.songs">
      <mat-grid-tile>
        <mat-card class="song-card">
          <mat-card-title style="color: white">
            {{song.displayName.substr(4)}}
          </mat-card-title>
          <mat-card-subtitle style="color: white">
            {{song.artistName}}
          </mat-card-subtitle>
          <mat-card-actions>
          <button mat-stroked-button class="play" style="color: white" (click)="sendSong(song)">
            <mat-icon>play_arrow</mat-icon>
            Play Song
          </button>
<!--          <button mat-stroked-button class="add" style="color: white" (click)="saveSong(song)">-->
<!--            <mat-icon>add</mat-icon>-->
<!--            Add To Your Songs-->
<!--          </button>-->
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</ng-container>


<ng-container *ngIf="!this.user.hasRecPlaylist">
  <h2 style="margin-bottom: 30px;" class="title">
    Your Recommendations Haven't Arrived Yet
  </h2>
  <p class="par">We need more time to determine how you listen.</p>
  <p class="par">Continuing listening to and saving songs you like, and soon you'll see even more songs to like right here.</p>
  <br>
  <button mat-stroked-button class="listen" (click)="navToStore()">
    <mat-icon>play_circle_outline</mat-icon>
    Start Listening
  </button>
  <br><br><br>
</ng-container>

<mat-divider></mat-divider>

<h1 class="logo">
  <mat-icon>terrain</mat-icon>
  L I O N
</h1>
