<body class="base">
    <div class="login-box">
      <h2 class="font">WELCOME BACK</h2>
        <h1 class="font">LOGIN</h1>
        <hr>
          <mat-form-field>
            <mat-label class="font">USERNAME</mat-label>
            <input matInput (input)="userNameText =$event.target.value" type="text" placeholder="Username" name="" value="">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>PASSWORD</mat-label>
            <input matInput (input)="passwordText=$event.target.value" type="password" placeholder="Password" name="" value="">
          </mat-form-field>

          <button class="btn" type="button" name="" value="Login" (click)="submit()">SUBMIT</button>
          <button class="btn" type="button" name="" value="Cancel" [routerLink]="['']">CANCEL</button>
        <hr>
        <h4 class="regLabel">Don't have an account yet?<a mat-button routerLink="/register">Create one here.</a></h4>
    </div>
</body>
