<body class="base">
    <div class = bg></div>
    <div class="links">
        <h1 class="font" style="font-size: 72px;">
          <mat-icon style="font-size: 72px; padding-right: 40px;">terrain</mat-icon>
          L I O N
        </h1>
        <h2 class="font">Music Streaming Demo App</h2>
        <br>
      <div class="font">
        <p>Penn State University</p>
        <p>Software Engineering Capstone Project</p>
        <p>April 2020</p>
      </div>
      <mat-divider></mat-divider>
        <br>
        <button class="font" mat-button [class.spinner]="loading" [disabled]="loading" (click)="loadDemoApplication()">Start App</button>
        <br>
<!--        <button class="font" mat-button routerLink="/register">REGISTER</button>-->
        <br>
    </div>
</body>
