<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <p>Choose a name for your playlist:</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input [(ngModel)]="data" matInput>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Done</button>
</mat-dialog-actions>
