<h1 class="title">
  Hello {{this.user.name}}!
</h1>
<mat-divider></mat-divider>
<h2 class="title">
  Account Options
</h2>
<mat-card style="margin-left: 30px; margin-right: 30px">

  <mat-card-title>Current Account Details</mat-card-title>
  <br>
  <mat-card-subtitle>Username: {{this.user.name}}</mat-card-subtitle>
  <br>
  <mat-card-subtitle>Email: {{this.user.email}}</mat-card-subtitle>

</mat-card>


  <br><br>
  <button mat-stroked-button class="button" (click)="emailChange()">
    <mat-icon>email</mat-icon>
    Change Email
  </button>
  <br>
  <button mat-stroked-button class="button" (click)="passwordChange()">
    <mat-icon>lock</mat-icon>
    Change Password
  </button>
  <br>


<mat-divider></mat-divider>

<h1 class="logo">
  <mat-icon>terrain</mat-icon>
  L I O N
</h1>


