.title {
  margin-left: 30px;
  color: white;
}

.button {
  mat-icon {
    padding-top: 10px;
    height: 36px !important;
    width: 30px !important;
    font-size: 24px !important;
  }
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
  color: white;
}

.logo {
  mat-icon {
    padding-top: 10px;
    height: 36px !important;
    width: 24px !important;
    font-size: 24px !important;
  }
  margin-left: 30px;
  font-family: Futura;
  font-weight: lighter;
  color: white;
}


