.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 15%;
  height: 100%;
  background-color: rgb(0,0,0,0.75);
}

.sidenav .mat-toolbar {
  background: inherit;
  color: white;
}

.sidenav .mat-list-item {
  color: white;
}

.main-toolbar {
  .spacer {
    flex: 1 1 auto;
  }
  .toolbar-btn {
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
  }

}

.navHeader {
  font-size: 30px;
}

.link {
  font-size: 20px;
}

.logo {
  mat-icon {
    padding-top: 10px;
    height: 48px !important;
    width: 36px !important;
    font-size: 36px !important;
  }
  font-size: 36px;
  margin-left: 30px;
  font-family: Futura;
  font-weight: lighter;
  color: white;
}

.logout-button {
  position: fixed;
  right: 0;
  mat-icon {
    padding-top: 10px;
    height: 48px !important;
    width: 36px !important;
    font-size: 36px !important;
  }
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
}

.content-container {
  height: 100%;

  .topBar{
    position: fixed;
    top: 0;
    height: 10%;
    z-index: 1;
    background-color: rgb(46, 47, 66);
  }

  .componentArea {
    overflow: auto;
    position: fixed;
    height: 70%;
    width: 85%;
    top: 10%;
    background-color: rgb(0, 0, 0, 0.5);
  }

  .player {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 85%;
    height: 20%;
    background-color: rgb(46, 47, 66);
  }
}

.credits {
  margin-left: 30px;
  margin-right: 10px;
  font-family: Futura;
  font-weight: lighter;
  color: white;
}



