<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport color="rgb(0,0,0,0.6)"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-nav-list>
        <mat-toolbar class="navHeader">Explore</mat-toolbar>
        <a mat-list-item class="link" (click)="selectComponent('index')">
          <mat-icon mat-list-icon>home</mat-icon>
          Home
        </a>
        <a mat-list-item class="link" (click)="selectComponent('store')">
          <mat-icon mat-list-icon>account_balance</mat-icon>
          Store
        </a>
        <br>
        <mat-divider></mat-divider>
        <mat-toolbar class="navHeader">Library</mat-toolbar>
        <a mat-list-item class="link" (click)="selectComponent('library')">
          <mat-icon mat-list-icon>library_music</mat-icon>
          Songs
        </a>
        <a mat-list-item class="link" (click)="selectComponent('playlist')">
          <mat-icon mat-list-icon>queue_music</mat-icon>
          Playlists
        </a>
      <br>
        <mat-toolbar class="navHeader">Settings</mat-toolbar>
        <mat-divider></mat-divider>
        <a mat-list-item class="link" (click)="selectComponent('account')">
          <mat-icon mat-list-icon>account_box</mat-icon>
          Account
        </a>
    </mat-nav-list>
    <br><br><br><br><br><br>
    <div class="credits">
      <p>Penn State University</p>
      <p>Software Engineering Capstone Project</p>
      <p>April 2020</p>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="content-container">

    <mat-toolbar class="topBar" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1 class="logo">
        <mat-icon>terrain</mat-icon>
        L I O N
      </h1>
      <a class="logout-button" type="button" mat-stroked-button (click)="logout()">
        Logout
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </mat-toolbar>

    <app-m-home class="componentArea" *ngIf="selectedComponent==='index'"
      (storeNavigation)="navigateToStorePage()"
                (songClicked)="homeSentSongToPlayer($event)">
    </app-m-home>
    <app-m-library class="componentArea" *ngIf="selectedComponent==='library'"
      [playerIndex]="currentSongIndexForLibrary"
                   (playlistCreation)="navigateToPlaylistPage()"
      (songClicked)="librarySentSongToPlayer($event)"
      (songRemovedFromLibrary)="userRemovedSong($event)">
    </app-m-library>
    <app-store (songClicked)="storeSentSongToPlayer($event)"
               (playlistCreation)="navigateToPlaylistPage()"
               [playerIndex]="currentSongIndexForStore" class="componentArea" *ngIf="selectedComponent==='store'"></app-store>
    <app-m-account class="componentArea" *ngIf="selectedComponent==='account'"></app-m-account>
    <app-playlist  class="componentArea" *ngIf="selectedComponent==='playlist'"
                   [playerIndex]="currentSongIndexForPlaylist"
                   (songClicked)="playlistSentSongToPlayer($event)"
                   (playlistPlayed)="playlistSentPlaylistToPlayer($event)"
                   (playlistShuffled)="playlistSentShuffledPlaylistToPlayer($event)">
    </app-playlist>

    <app-material-player class="player"
      [displayMessage]="currentTitle"
      [firstSongPlaying]="currentSongIsFirst"
      [lastSongPlaying]="currentSongIsLast"
      (nextSongClicked)="playerRequestedNextSong()"
      (previousSongClicked)="playerRequestedPreviousSong()">
    </app-material-player>

  </mat-sidenav-content>


</mat-sidenav-container>
