<div class="media-footer">
  <mat-toolbar class="media-toolbar">
    <mat-toolbar-row>
      {{ state?.readableCurrentTime }}
      <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error"></mat-slider>
      {{ state?.readableDuration }}
    </mat-toolbar-row>
    <mat-toolbar-row>
      <h3 style="margin-left: auto; margin-right: auto">{{displayMessage}}</h3>
    </mat-toolbar-row>
    <mat-toolbar-row class="media-action-bar">
      <button mat-stroked-button class="action" [disabled]="firstSongPlaying" (click)="previous()">
        <mat-icon mat-list-icon>skip_previous</mat-icon>
      </button>
      <button mat-stroked-button class="action" (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
        <mat-icon mat-list-icon>play_circle_filled</mat-icon>
      </button>
      <button mat-stroked-button class="action" (click)="pause()" *ngIf="state?.playing">
        <mat-icon mat-list-icon>pause</mat-icon>
      </button>
      <button  mat-stroked-button class="action" [disabled]="lastSongPlaying" (click)="next()">
        <mat-icon mat-list-icon>skip_next</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
