.media-footer {
  //position: absolute;
  //bottom: 0;
  width: 100%;
  //z-index: 1000;

  .time-slider {
    width: 100% !important;
    margin-left: 20px;
    margin-right: 20px;
  }

  .media-action-bar {
    width: 100%;
    padding: 2rem;
    justify-content: center;

    .action {
      margin-right: 5px;
    }

    .mat-icon {
      height: 48px !important;
      width: 48px !important;
      font-size: 48px !important;
    }
    margin-bottom: 30px;
  }
}
.media-toolbar {
  background-color: rgb(46, 47, 66);
  color: white;
}
