<h2 mat-dialog-title>Change Your Password</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Current Password</mat-label>
    <input type="password" [(ngModel)]="currentPW" matInput>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input type="password" [(ngModel)]="newPW1" matInput>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Confirm New Password</mat-label>
    <input type="password" [(ngModel)]="newPW2" matInput>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="[currentPW, newPW1, newPW2]">Change</button>
</mat-dialog-actions>
