<h1 class="header">
  Playlists
</h1>
<button mat-stroked-button class="newPlaylistButton" style="margin-left: 30px; margin-bottom: 30px" (click)="makeNewPlaylist()">
  <mat-icon>playlist_add</mat-icon>
    Create New Playlist
  </button>
<mat-divider></mat-divider>
<br>
    <mat-list *ngFor="let playlist of playlists; let i = index" style="margin-left:30px;">
      <mat-expansion-panel class="album-slot" style="margin-right: 30px; margin-bottom: 30px" >
        <mat-expansion-panel-header>
          <mat-list-item class="album-title">
            {{ playlist.title }}
          </mat-list-item>
        </mat-expansion-panel-header>
        <mat-list-item style="color: white">
          <button mat-button (click)="play(playlist)">
            <mat-icon color="white">playlist_play</mat-icon>
            Play All
          </button>
          <button mat-button (click)="shuffle(playlist)">
            <mat-icon color="white">shuffle</mat-icon>
            Shuffle
          </button>
          <button mat-button [matMenuTriggerFor]="editPlaylistMenu" (click)="openEditPlaylistMenu($event)">
            <mat-icon color="white">settings</mat-icon>
            Edit
          </button>
          <mat-menu #editPlaylistMenu="matMenu" overlapTrigger="false">
                <span (mouseleave)="closeEditPlaylistMenu($event)">
                  <button mat-menu-item (click)="rename(playlist)">
                    <mat-icon mat-list-icon color="white">edit</mat-icon>
                    Rename Playlist</button>
                  <button mat-menu-item (click)="delete(playlist)">
                    <mat-icon mat-list-icon color="white">delete_forever</mat-icon>
                    Delete Playlist</button>
                </span>
          </mat-menu>
        </mat-list-item>
        <mat-action-list *ngFor="let song of playlist.songs" (click)="sendSong(song, playlist)">
          <mat-list-item class="song-slot">
            <mat-icon [matMenuTriggerFor]="editSongMenu" (click)="openEditSongMenu($event)" color="white" mat-list-icon>list</mat-icon>
            <mat-menu #editSongMenu="matMenu" overlapTrigger="false">
              <span (mouseleave)="closeEditSongMenu($event)">
                <button mat-menu-item (click)="removeSong(playlist, song)">
                  <mat-icon color="white">delete_forever</mat-icon>
                  Remove From Playlist</button>
              </span>
            </mat-menu>
            <h4 mat-line>{{ song.displayName }}</h4>
            <h5 mat-line>{{ song.artistName }}</h5>
            <mat-icon color="white" *ngIf="this.playerIndex === playlist.songs.indexOf(song) && !this.player.state?.error">play_circle_filled</mat-icon>
            <h6 *ngIf="this.playerIndex === playlist.songs.indexOf(song)  && this.player.state?.error">ERROR</h6>
          </mat-list-item>
        </mat-action-list>

      </mat-expansion-panel>
    </mat-list>


