
.header {
  margin-left: 30px;
  color: white;
}

.newPlaylistButton {
  mat-icon {
    padding-top: 10px;
    height: 48px !important;
    width: 48px !important;
    font-size: 36px !important;
  }
  font-size: 28px;
  margin-left: 30px;
  color: white;

}

.inputForm {
  color: white;
}

.topBar {
  display: flex;
  flex-direction: column;
}

.artist-slot{
  color: white;
}

.album-slot {
  background-color: rgb(0,0,0,0.5);
}

.song-slot {
  color: white;
}

.album-title {
  color: white;
}
