/* You can add global styles to this file, and also import other style files */
// :root {
//     //--primary-color: #fff; // white
//     --primary-color: blue;
//     --background-color:orange; // light grey
//     --text-color:green; // dark grey
//   }

body {
    background-color: rgb(0,0,0,0.6);
    color: black;
    padding: 0;
    margin: 0;
    //font-family: sans-serif;
    //font-family: candara;
}

html, body, app-root {
    height: 100%;
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
