.header {
  margin-left: 30px;
  color: white;
}

.artist-slot{
  color: white;
}

.album-slot {
  background-color: rgb(0,0,0,0.5);
}

.star-button {
  alignment: right;
}

.song-slot {
  color: white;

}



.album-title {
  color: white;
}

.star-button {

}
