<h1 class="header">
  Saved Songs
</h1>
<mat-action-list class="song-list">
    <div *ngFor="let song of this.user.library; let i = index" (click)="sendSong(song)">
      <mat-divider></mat-divider>
      <mat-list-item class="song-slot">
        <mat-icon mat-list-icon color="white" (click)="removeSong(song)">star_filled</mat-icon>

        <mat-icon [matMenuTriggerFor]="songMenu" (click)="openSongMenu($event)" color="white" mat-list-icon>list</mat-icon>

        <h4 mat-line>{{ song.displayName }}</h4>
        <h5 mat-line>{{ song.artistName }}</h5>

        <mat-icon color="white" *ngIf="this.playerIndex === i && !this.player.state?.error">play_circle_filled</mat-icon>
        <h6 *ngIf="this.playerIndex === i && this.player.state?.error">ERROR</h6>
      </mat-list-item>
      <mat-menu #songMenu="matMenu" overlapTrigger="false">
        <button #playlistMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="playlistMenu" (mouseover)="openPlaylistMenu($event)" mat-menu-item>
          <mat-icon color="white">playlist_add</mat-icon>
          Add To Playlist...
        </button>
        <mat-menu #playlistMenu="matMenu" overlapTrigger="false">
                          <span (mouseleave)="closePlaylistMenu($event)">
                            <div *ngIf="this.user.playlists.length > 0">
                              <button *ngFor="let playlist of this.user.playlists" mat-menu-item (click)="this.user.addSongToPlaylist(playlist.title, song)"><mat-icon color="white">queue_music</mat-icon>{{playlist.title}}</button>
                            </div>
                            <div *ngIf="this.user.playlists.length === 0">
                              <button mat-menu-item (click)="navigateToPlaylistPage()">Create New Playlist...</button>
                            </div>
                          </span>
        </mat-menu>
      </mat-menu>
    </div>
</mat-action-list>

